html {
  font-family: sans-serif;
  user-select: none;
}

body {
  margin: 0;
}

input[type=text],
input[type=number],
input[type=email],
input[type=password] {
  width: 100%;
  box-sizing: border-box;
}